@font-face{
    font-family:"Inter-Regular";
    font-style:normal;
    src:url("./Inter-Regular.ttf");
}

@font-face{
    font-family:"Oswald-Regular";
    font-style:normal;
    src:url("./Oswald-Regular.ttf");
}

@font-face{
    font-family:"Renner";
    font-style:normal;
    src:url("./Renner_\ 400\ Book.ttf");
}

@font-face{
    font-family:"Cera-Pro-Black";
    font-style:normal;
    src:url("./Renner_\ 400\ Book.ttf");
}